 

<!-- Banner Section -->
      <section class="banner" style="height: 85vh;">
         <div class="content">
            <div class="title">@Model</div>
            <div class="top-subtitle subtitle">The Glory Hotels</div>
         </div>
      </section>
