@{
    Layout = null;
    var x = "Sign Up";
}
      <!-- Icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

      <!-- CSS -->
      <link rel="stylesheet" href="~/css/login.css">
      <link rel="stylesheet" href="~/css/styles.css">

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

      <!-- Tailwind CDN -->
      <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

      <!-- Favicon -->
      <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon.ico">
      <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon.ico">
      <title>HarborView | @x</title>

   
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bk-btn">
                    <a id="bk-btn" href="~/">
                       <i class="fa fa-arrow-left" aria-hidden="true"></i>
                   </a>
                </div>
            </div>
        </div>
    </div>

      <div class="session">
         <form action="/Authentication/SignUp" class="log-in" method="post">
        
            <h4>The <span>Glory Hotels</span></h4>
            <p>Create an Account</p>
       
            <div class="floating-label">
               <input placeholder="Name" type="text" name="Name" id="Name" autocomplete="off">
               <label for="Name">Name:</label>
               <div class="icon">
                  <?xml version="1.0" encoding="UTF-8"?>
                  <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <style type="text/css">
                        .st0 { fill: none; }
                        .st1 { fill: #000000; }
                      </style>
                      <g transform="translate(0 -952.36)">
                        <path class="st1" d="M51.8,976.9c-1.7,0-3.3,0.9-4.2,2.5c-2.7,4.1-7,6.8-11.8,6.8h-0.1c-4.8,0-9.1-2.7-11.8-6.8c-0.9-1.6-2.5-2.5-4.2-2.5
                            c-1.7,0-3.3,0.9-4.2,2.5c-3.6,5.4-5.8,11.8-5.8,18.7c0,6.9,2.2,13.3,5.8,18.7c0.9,1.6,2.5,2.5,4.2,2.5c1.7,0,3.3-0.9,4.2-2.5
                            c2.7-4.1,7-6.8,11.8-6.8h0.1c4.8,0,9.1,2.7,11.8,6.8c0.9,1.6,2.5,2.5,4.2,2.5c1.7,0,3.3-0.9,4.2-2.5c3.6-5.4,5.8-11.8,5.8-18.7
                            c0-6.9-2.2-13.3-5.8-18.7C55.1,977.9,53.5,976.9,51.8,976.9z"></path>
                        <circle class="st1" cx="52" cy="962.4" r="4.8"></circle>
                      </g>
                  </svg>
               </div>
            </div>

            <div class="floating-label">
               <input placeholder="Email" type="email" name="Email" id="Email" autocomplete="off">
               <label for="Email">Email:</label>
               <div class="icon">
                  <?xml version="1.0" encoding="UTF-8"?>
                  <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                     <style type="text/css">
                        .st0{fill:none;}
                     </style>
                     <g transform="translate(0 -952.36)">
                        <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
                     </g>
                     <rect class="st0" width="100" height="100"/>
                  </svg>
               </div>
            </div>

            <div class="floating-label">
               <input placeholder="Password" type="password" name="Password" id="Password" autocomplete="off">
               <label for="Password">Password:</label>
               <div class="icon">
                  <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                     <style type="text/css">
                        .st0{fill:none;}
                        .st1{fill:#010101;}
                     </style>
                     <rect class="st0" width="24" height="24"/>
                     <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
                     <path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
                     <path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
                  </svg>
               </div>
            </div>

            <div class="floating-label">
               <input placeholder="Confirm Password" type="password" name="Confirm_Password" id="Confirm-Password" autocomplete="off">
               <label for="Confirm-Password">Confirm Password:</label>
               <div class="icon">
                  <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                     <style type="text/css">
                        .st0{fill:none;}
                        .st1{fill:#010101;}
                     </style>
                     <rect class="st0" width="24" height="24"/>
                     <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
                     <path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
                     <path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
                  </svg>
               </div>
            </div>
            <br>
        @if (ViewBag.r != null)
        {
                            <div class="invalid">

                @ViewBag.r
                        </div>
        }
        @if (ViewBag.s != null)
        {
                                <div class="invalid-field">

                @ViewBag.s
                            </div>
        }
            <button type="submit" style="margin-left:auto;" class="button focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Sign Up</button>
         </form>
      </div>
     
     
















































      <!-- Footer -->
      <div class="footer-dark" style="font-family: Inter;">
        <footer>
           <div class="bscontainer">
              <div class="bsrow">
                 <div class="bscol-md-2 item">
                    <h3>Pages</h3>
                    <ul>
                       <li><a href="../index.html">Home</a></li>
                       <li><a href="map.html">Hotels</a></li>
                       <li><a href="login.html">Login</a></li>
                       <li><a href="book.html">Book Hotel</a></li>
                    </ul>
                 </div>
                 <div class="bscol-md-2 item">
                    <h3>Know More</h3>
                    <ul>
                       <li><a href="membership.html">Membership</a></li>
                       <li><a href="team.html">Our Team</a></li>
                       <li><a href="news.html">News</a></li>
                    </ul>
                 </div>
                 <div class="bscol-md-2 item">
                    <h3>Other Details</h3>
                    <ul>
                       <li><a href="#">Privacy Policy</a></li>
                       <li><a href="#">Terms of Service</a></li>
                    </ul>
                 </div>
                 <div class="bscol-md-6 item text">
                    <h3>The Glory Hotels</h3>
                    <p>Over the last 25 years, the Glory Hotels organisation has been known for dependably providing the best Indian hospitality experience with more than 50 hotels and resorts worldwide.</p>
                 </div>
                 <div class="social_links">
                    <a href="https://www.instagram.com/">
                    <span class="fa-stack fa-lg ig combo">
                       <i class="fa fa-circle fa-stack-2x circle"></i>
                       <i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
                    </span>
                    </a>
                    <a href="https://www.facebook.com/">
                    <span class="fa-stack fa-lg fb combo">
                       <i class="fa fa-circle fa-stack-2x circle"></i>
                       <i class="fa fa-facebook fa-stack-1x fa-inverse icon"></i>
                    </span>
                    </a>
                    <a href="https://www.youtube.com/">
                    <span class="fa-stack fa-lg yt combo">
                       <i class="fa fa-circle fa-stack-2x circle"></i>
                       <i class="fa fa-youtube-play fa-stack-1x fa-inverse icon"></i>
                    </span>
                    </a>
                    <a href="https://www.twitter.com/">
                    <span class="fa-stack fa-lg tw combo">
                       <i class="fa fa-circle fa-stack-2x circle"></i>
                       <i class="fa fa-twitter fa-stack-1x fa-inverse icon"></i>
                    </span>
                    </a>
                    <a href="https://codepen.io">
                    <span class="fa-stack fa-lg gt combo">
                       <i class="fa fa-circle fa-stack-2x circle"></i>
                       <i class="fa fa-codepen fa-stack-1x fa-inverse icon"></i>
                    </span>
                    </a>
                    <a href="https://www.linkedin.com/">
                    <span class="fa-stack fa-lg tw combo">
                       <i class="fa fa-circle fa-stack-2x circle"></i>
                       <i class="fa fa-linkedin fa-stack-1x fa-inverse icon"></i>
                    </span>
                    </a>
                 </div>
              </div>
              <p class="copyright">The Glory Hotels © 2021</p>
           </div>
        </footer>
     </div>

     <!-- JS -->
     <script src="~/js/main.js"></script>
