
.reservation-box {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.inner-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-family: 'Inter';
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.Approve-btn {
    margin-top: 5px;
    border: 1px solid none;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    background-color: #059c23;
    color: white;
    float: right;
}

.Reject-btn {
    background-color: #f01f1f;
    margin-top: 5px;
    border: 1px solid none;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    color: white;
    float: right;
}

.heading {
    font-family: Product Sans Bold;
    font-size: 60px;
    letter-spacing: -0.04em;
    margin-top: 30px;
}

.page-buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: #326dee;
    border: 0px solid blue;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

    button.active {
        background-color: gray;
        padding: 0.75rem 1.5rem;
        border: 1px solid none;
        border-radius: 3rem;
        color: #fff;
    }

.page-content {
    display: none;
}

    .page-content.active {
        display: block;
    }
